node_modules
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.git
.gitignore
coverage
.nyc_output
logs/*
!logs/.gitkeep
uploads/*
!uploads/.gitkeep
backups/*
!backups/.gitkeep
